<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DoAn_QuanLyBanHang.Properties.Settings.QL_BanHang_DienTuConnectionString"
            connectionString="Data Source=DESKTOP-10KQE7D\THANHPHUC;Initial Catalog=QL_BanHang_DienTu;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>